html,
html * {
    padding: 0;
    margin: 0;
}

html, body {
  height: 100%;
  padding: 0;
}

.right-column {
    width: 25%;
    height: 100vh;
    background-color: rgb(227, 227, 255);
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1rem;
    align-content: center;
}

.header {
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    color: rgb(255, 72, 0);
    font-size: 0.8rem;
}

.header h1 {
    font-size: 4rem;
    color: rgb(255, 81, 0);
    text-align: center;
    line-height: 5rem;
    font-family: 'Galada', cursive;
}



input#input-box {
    width: 90%;
}

input[type=text] {
    font-size: 1rem;
    padding: 0.5rem;
    vertical-align: top;
}

#side-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height:0;
}

.App {
    display: flex;
    width: 100%;
    height: 100vh;
}
.map {
    width: 75%;
    height: 100vh;
    background-color: rgb(230, 210, 224);
    position: absolute;
}

@media only screen and (max-width: 730px) {
    .right-column {
        width: 35%;
    }
    #map {
        width: 65%;

    }
}

@media only screen and (max-width: 550px) {
    .App {
        flex-direction: column;
    }
    .right-column {
        width: 100%;
        z-index: 1000;
        order: -1;
        height: auto;
    }
    #map {
        width: 100%;
        bottom: 0;
        height: 88%;
    }
    #side-bar {
        z-index: 1000;
    }
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1.5rem;
    }
    .header {
        display: none;
        justify-content: center;
        font-size: 3rem;
        line-height: 0;
    }
}
